header{
    .container-brj{
        .headerbrj-menu{
            li{
                position: relative;
                padding: 0;
                margin: 0;
                a{
                    display: block;
                    line-height: 63px;
                    padding: 0 17px;
                    &:hover{
                        background-color: #fff;
                    }
                }
                &:hover{
                    a{
                        background-color: #fff;
                    }
                    ul{
                        display: block;

                    }
                }
                ul{
                    display: none;
                    position:absolute;
                    width: 222px;
                    top:63px;
                    left: 0;
                    background-color:#fff;
                    list-style: none;
                    padding: 0;
                }
            }
        }
    }
}