@font-face {
    font-family: 'Duplicate Slab';
    src: url('DuplicateSlab-Bold.woff2') format('woff2'),
        url('DuplicateSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

